.mt1{margin-top: 1rem;}
.mt2{margin-top: 2rem;}

.mb1{margin-bottom: 1rem;}

.mr1{margin-right: 1rem;}

li i{margin-right: 1rem;}

.btn-primary{
    background-color: #37474f !important;
    border-color: #37474f !important;
}

.right-screen{
    padding: 0 1rem;
    margin: auto;
}

.page-link{
    color: #212529 !important;
}
.page-item.active .page-link{
    background-color: #37474f !important;
    border-color: #37474f !important;
    color: #fff !important;
}
.box{
    margin: 2rem 0;
    padding: 1rem 1rem;
    box-shadow: 0 0 2px 0 #666666;
    border-top: 1px solid;
    border-radius: 0.3rem .3rem 0 .0rem;
}
.box-header{
    font-size: 1.3rem;
    font-weight: bold;
    color: #444;
}
.box-body{
    margin-top: 1rem;
    display: none;
    transition: all 0.5s ease;
}
.box-open{
    transition: 1s;
    display: block;
}